<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ g.service_name }}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {%- block head -%}
    {%- endblock -%}
    <style>
        body {
            background-color: #fff;
        }
        .side-nav {
            margin-bottom: -99999px;
            padding-bottom: 99999px !important;
        }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index.index') }}">{{ g.service_name }}</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if g.user %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('domain.index') }}">대시보드</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">도메인 목록 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if g.domain_list == [] %}
                <li><a href="{{ url_for('domain.new') }}">등록된 도메인이 없습니다. 도메인을 추가해주세요.</a></li>
                {% endif %}
                {% for domain in g.domain_list %}
                <li><a href="{{ url_for('domain.detail', domain=domain) }}">{{ domain }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <a href="{{ url_for('domain.new')}}" class="btn btn-default navbar-btn navbar-left" role="button"><span class="glyphicon glyphicon-plus"></span> 도메인 추가</a>
          <div class="navbar-right">
              <p class="navbar-text"><a href="{{ url_for('account.resetpasswd') }}">{{ g.user.name }}({{ g.user.email }})</a>님 안녕하세요!</p>
          <a href="{{ url_for('account.signout')}}" class="btn btn-primary navbar-btn" role="button">로그아웃</a>
          </div>
          {% else %}
          <form class="navbar-form navbar-right" action="{{ url_for('account.signin') }}" method="post">
            <div class="form-group">
              <input name="email" type="text" placeholder="이메일" class="form-control">
              <input name="password" type="password" placeholder="비밀번호" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
            또는
            <a href="{{ url_for('account.signup')}}" class="btn btn-info" role="button">회원가입</a>
          </form>
          {% endif %}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
{% if domain %}
            <li>
              <a href="{{ url_for('domain.detail', domain=domain.name) }}" ><i class="fa fa-fw fa-file"></i> {{ domain.name }} </a>
              <ul id="naver" class="collapse.in">
{% macro nav_service(name, link) -%}
                <li{% if False %} class="active"{% endif %}>
                  <a href="{{ link }}">{{ name }}</a>
                </li>
{%- endmacro %}
                {{ nav_service ('A 레코드', url_for('domain_a.record_list', domain=domain.name)) }}
                {{ nav_service ('DDNS', url_for('domain_ddns.record_list', domain=domain.name)) }}
                {{ nav_service ('AAAA 레코드', url_for('domain_aaaa.record_list', domain=domain.name)) }}
                {{ nav_service ('CNAME 레코드', url_for('domain_cname.record_list', domain=domain.name)) }}
                {{ nav_service ('Web Forwarding', '#' or url_for('domain_webforwarding.record_list', domain=domain.name)) }}
                {{ nav_service ('Web Parking', '#' or url_for('domain_webparking.record_list', domain=domain.name)) }}
                {{ nav_service ('MX 레코드', url_for('domain_mx.record_list', domain=domain.name)) }}
                {{ nav_service ('TXT 레코드', url_for('domain_txt.record_list', domain=domain.name)) }}
                {{ nav_service ('SOA 레코드', '#' or url_for('domain_soa.record_list', domain=domain.name)) }}
                {% if domain.master %}
                {{ nav_service ('서브도메인 공유', url_for('domain_subdomain.subdomain_info', domain=domain.name)) }}
                {% endif %}
              </ul>
            </li>
{% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
        <div class="container">
            {%- block body -%}
            {%- endblock -%}
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {%- block script -%}
    {%- endblock -%}
  </body>
</html>

