{% extends "base.html" %}

{% block title %}
{{ g.service_name }} - 도메인 목록
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
{% for ticket in subdomain_tickets %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>  <strong>[도메인 공유]</strong> {{ ticket.name + '.' + ticket.domain.name }}을 사용하시겠습니까?
            <div class="pull-right">
                <a href="{{ url_for('domain.subdomain_add', token=ticket.token) }}" class="btn btn-xs btn-success"><i class="fa fa-check"></i> 사용</a>
                <a href="{{ url_for('domain.subdomain_delete', token=ticket.token) }}" class="btn btn-xs btn-danger"><i class="fa fa-ban"></i> 거절</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="col-xs-12 col-sm-8">
    <h1>도메인 목록</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th width="30"></th>
                <th>도메인</th>
                <th width="40"></th>
            </tr>
        </tbody>
        <tbody>
            {% for o in ownership_list %}
            <tr>
                <td><input type="checkbox"></td>
                <td>
                    <a href="{{ url_for('domain.detail', domain=o.domain.name) }}">{{ o.domain.name }}</a>
                    {% if o.master %}<!--i class="fa fa-star"></i-->{% else %}<i class="fa fa-share-alt"></i>{% endif %}
                </td>
                <th><a href="{{ url_for('domain.domain_delete', domain=o.domain.name) }}" class="btn btn-danger btn-xs">삭제</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pull-right">
        <a href="{{ url_for('domain.new') }}" class="btn btn-primary">도메인 추가</a>
        <!-- button type="submit" class="btn btn-danger">Delete</button -->
    </div>
</div>
<div class="col-xs-12 col-sm-4">
    <h1>네임서버 목록</h1>
    <dl class="dl-horizontal">
        {% for ns in ns_list %}
        <dt>{{ ns.domain }}</dt><dd>{{ ns.ip }}</dd>
        {% endfor %}
    </dl>
</div>
{% endblock %}

