{% extends "base.html" %}

{% block title %}
{{ g.service_name }} - 도메인 설정 [{{ domain.domain }}]
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>도메인 설정 <small>{{ domain.domain }}</small></h1>

{% if domain.a %}
<h2>A 레코드</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>호스트 이름</th>
            <th>IP 주소</th>
            <th>메모</th>
        </tr>
    </tbody>
    <tbody>
        {% for record in domain.a[:5] %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}{% if record.ddns %}(DDNS){% endif %}</th>
            <th>{{ record.ip }}</th>
            <th>{{ record.memo }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('domain_a.record_list', domain=domain.domain) }}" class="btn btn-default btn-block">더 보기...</a>
{% endif %}

{% if domain.aaaa %}
<h2>AAAA 레코드</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>호스트 이름</th>
            <th>IPv6 주소</th>
            <th>메모</th>
        </tr>
    </tbody>
    <tbody>
        {% for record in domain.aaaa[:5] %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}</th>
            <th>{{ record.ip }}</th>
            <th>{{ record.memo }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('domain_aaaa.record_list', domain=domain.domain) }}" class="btn btn-default btn-block">더 보기...</a>
{% endif %}

{% if domain.cname %}
<h2>CNAME 레코드</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>호스트 이름</th>
            <th>목적지</th>
            <th>메모</th>
        </tr>
    </tbody>
    <tbody>
        {% for record in domain.cname[:5] %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}</th>
            <th>{{ record.target }}</th>
            <th>{{ record.memo }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('domain_cname.record_list', domain=domain.domain) }}" class="btn btn-default btn-block">더 보기...</a>

{% endif %}

{% if domain.mx %}
<h2>MX 레코드</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>호스트 이름</th>
            <th>메일서버</th>
            <th>우선순위</th>
        </tr>
    </tbody>
    <tbody>
        {% for record in domain.mx[:5] %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}</th>
            <th>{{ record.target }}</th>
            <th>{{ record.rank }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('domain_mx.record_list', domain=domain.domain) }}" class="btn btn-default btn-block">더 보기...</a>

{% endif %}

{% if domain.txt %}
<h2>TXT 레코드</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>호스트 이름</th>
            <th>TXT</th>
        </tr>
    </tbody>
    <tbody>
        {% for record in domain.txt[:5] %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}</th>
            <th>{{ record.txt }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('domain_txt.record_list', domain=domain.domain) }}" class="btn btn-default btn-block">더 보기...</a>
{% endif %}

<h2>새로운 레코드 추가</h2>
<div>
    <a href="{{ url_for('domain_a.record_new', domain=domain.domain) }}" class="btn btn-lg btn-primary">A 레코드(DDNS)</a>
    <a href="{{ url_for('domain_aaaa.record_new', domain=domain.domain) }}" class="btn btn-lg btn-success">AAAA 레코드</a>
    <a href="{{ url_for('domain_cname.record_new', domain=domain.domain) }}" class="btn btn-lg btn-info">CNAME 레코드</a>
    <a href="{{ url_for('domain_mx.record_new', domain=domain.domain) }}" class="btn btn-lg btn-warning">MX 레코드</a>
    <a href="{{ url_for('domain_txt.record_new', domain=domain.domain) }}" class="btn btn-lg btn-danger">TXT 레코드</a>
</div>

{% endblock %}

