{% extends "base.html" %}

{% block title %}
{{ g.service_name }} - 도메인 삭제 [{{ domain.name }}]
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>도메인 삭제 <small>{{ domain.name }}</small></h1>

{% if 'records' in errors %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fa fa-info-circle"></i> 레코드가 있는 도메인은 삭제 하실 수 없습니다. 모두 삭제하신 후 도메인을 지워주세요.
        </div>
    </div>
</div>
{% endif %}
{% if 'subdomains' in errors %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fa fa-info-circle"></i>  서브도메인이 있는 도메인은 삭제 하실 수 없습니다.
        </div>
    </div>
</div>
{% endif %}

<form role="form" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">정말 도메인({{ domain.name }})과 도메인에 등록된 모든 레코드를 삭제하시겠습니까?</h3>
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-danger">삭제</button>
            <a href="{{ url_for('domain.index') }}" class="btn btn-primary">취소</a>
        </div>
    </div>
</form>

{% endblock %}

