{% extends "base.html" %}

{% macro form_field(field, id, label=None) -%}
<div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
    {% if label -%}
    <label for="{{ id }}" class="col-sm-2 control-label">{{ label }}</label>
    {% endif -%}
    <div class="col-sm-10">
      {{ field(class_='form-control', id=id, **kwargs) }}
      {% if field.errors %}
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% block title %}
{{ g.service_name }} - 비밀번호 재설정
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>비밀번호 재설정</h1>

<form id="formResetPassword" class="form-horizontal" role="form" method="post">
  {{ form_field(form.new_password, 'inputNewPassword', '새 비밀번호', placeholder='새 비밀번호', type='password') }}
  <div id="divPasswordRe" class="form-group">
    <label for="inputPasswordRe" class="col-sm-2 control-label">다시입력</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPasswordRe" placeholder="비밀번호 다시입력">
      <span id="iconPasswordRe" class="glyphicon glyphicon-remove form-control-feedback" style="display:none"></span>
      <span id="helpPasswordRe" class="help-inline" style="display:none">비밀번호가 다릅니다. 다시 입력해 주세요.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">비밀번호 재설정</button>
    </div>
  </div>
</form>
{% endblock %}

{% block script %}
  <script>
function checkPassword() {
    if($('#inputNewPassword').val()==$('#inputPasswordRe').val()) {
        $('#divPasswordRe').removeClass('has-error');
        $('#divPasswordRe').removeClass('has-feedback');
        $('#helpPasswordRe').hide();
        $('#iconPasswordRe').hide();
        return true;
    } else {
        $('#divPasswordRe').addClass('has-error');
        $('#divPasswordRe').addClass('has-feedback');
        $('#helpPasswordRe').show();
        $('#iconPasswordRe').show();
        return false;
    }
}
$('#formResetPassword').submit(checkPassword);
  </script>
{% endblock %}
