{% extends "base.html" %}

{% block title %}
{{ g.service_name }} - MX 레코드 삭제 [{{ domain.domain }}]
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>MX 레코드 삭제 <small>{{ domain.domain }}</small></h1>

<form role="form" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">정말 MX 레코드({{ record.name and (record.name + '.') or '' }}{{ domain.domain }})를 삭제하시겠습니까?</h3>
        </div>
        <div class="panel-body">
            <button type="submit" class="btn btn-danger">삭제</button>
            <a href="{{ url_for('domain_mx.record_list', domain=domain.domain) }}" class="btn btn-primary">취소</a>
        </div>
    </div>
</form>

{% endblock %}

