{% extends "base.html" %}

{% block title %}
YJ DNS - Domain [{{ domain.domain }}]
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Domain Setting <small>{{ domain.domain }}</small></h1>

<h2>A Record</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Memo</th>
        </tr>
    </tbody>
    <tbody>
        {% for record in domain.a[:5] %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}{% if record.ddns %}(DDNS){% endif %}</th>
            <th>{{ record.ip }}</th>
            <th>{{ record.memo }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('domain.record_a', domain=domain.domain) }}" class="btn btn-default btn-block">More...</a>

<h2>AAAA Record</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Memo</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ domain.domain }}</td>
            <th>127.0.0.1</th>
            <th></th>
        </tr>
    </tbody>
</table>

<h2>CNAME Record</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Memo</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ domain.domain }}</td>
            <th>127.0.0.1</th>
            <th></th>
        </tr>
    </tbody>
</table>

<h2>MX Record</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Memo</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ domain.domain }}</td>
            <th>127.0.0.1</th>
            <th></th>
        </tr>
    </tbody>
</table>

<h2>TXT Record</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Memo</th>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ domain.domain }}</td>
            <th>127.0.0.1</th>
            <th></th>
        </tr>
    </tbody>
</table>
<div class="pull-right">
    <button type="submit" class="btn btn-primary">New</button>
    <button type="submit" class="btn btn-danger">Delete</button>
</div>
{% endblock %}

