{% extends "base.html" %}
{% macro form_field(field, id, label=None) -%}
<div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
    {% if label -%}
    <label for="{{ id }}" class="col-sm-2 control-label">{{ label }}</label>
    {% endif -%}
    <div class="col-sm-10">
      {% if field.type == 'BooleanField' %}
      <div class="checkbox">
        <label>
          {{ field(id=id, **kwargs) }}
        </label>
      </div>
      {% else %}
      {{ field(class_='form-control', id=id, **kwargs) }}
      {% if field.errors %}
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
      {% endfor %}
      {% endif %}
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% block title %}
{{ g.service_name }} - CNAME 레코드 수정 [{{ domain.name }}]
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>CNAME 레코드 수정 <small>{{ domain.name }}</small></h1>

<form id="formSignUp" class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">호스트 이름</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ form.name.data and (form.name.data + '.') or '' }}{{ domain.name }}</p>
    </div>
  </div>
  {{ form_field(form.target, 'inputTarget', '목적지 주소', placeholder='목적지 주소') }}
  {{ form_field(form.memo, 'inputMemo', '메모', placeholder='메모') }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">레코드 수정</button>
    </div>
  </div>
</form>

{% endblock %}

