{% extends "base.html" %}

{% block title %}
{{ g.service_name }} - A Record [{{ domain.domain }}]
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>A Record Setting <small>{{ domain.domain }}</small></h1>

<h2>A Record</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Memo</th>
            <th>DDNS</th>
            <th>Key</th>
            <th></th>
        </tr>
    </tbody>
    <tbody>
        {% for record in records %}
        <tr>
            <td><input type="checkbox"></td>
            <td>{{ record.name and (record.name + '.') or '' }}{{ domain.domain }}</td>
            <th>{{ record.ip }}</th>
            <th>{{ record.memo }}</th>
            <th>{% if record.ddns %}Enable{% else %}Disable{% endif %}</th>
            <th>{{ record.key or '' }}</th>
            <th>
              <a href="{{ url_for('domain_a.record_edit', domain=domain.domain, record_id=record.id) }}" class="btn btn-warning btn-xs">Edit</a>
              <a href="{{ url_for('domain_a.record_delete', domain=domain.domain, record_id=record.id) }}" class="btn btn-danger btn-xs">Delete</a>
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pull-right">
    <a href="{{ url_for('domain_a.record_new', domain=domain.domain) }}" class="btn btn-primary">New</a>
    <!--button type="submit" class="btn btn-danger">Delete</button-->
</div>
{% endblock %}

