{% macro form_field(field, id, label=None) -%}
<div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
    {% if label -%}
    <label for="{{ id }}" class="col-sm-2 control-label">{{ label }}</label>
    {% endif -%}
    <div class="col-sm-10">
      {{ field(class_='form-control', id=id, **kwargs) }}
      {% if field.errors %}
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      {% for error in field.errors %}
      <span class="help-inline">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
  </div>
{%- endmacro %}
